.product {
  border-radius: 8px;
  background: #212123;
  overflow: hidden;
  max-width: calc(100% / 5 - 16px);
  width: 100%;
  display: block;
}
.info {
  padding: 12px 12px 6px;
}

.img {
  width: 100%;
  overflow: hidden;
  height: 200px;
  img{
    width: 100%;
    height: 100%;
  }
}
.name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.type {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 28px;
}
.new {
  color: #6c3eb8;
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
}
.old {
  color: #576067;
  font-size: 13px;
  font-weight: 500;
  text-decoration: line-through;
}
.counter {
  color: #576067;
  font-size: 10px;
  font-weight: 500;
}
.bottom,
.price {
  display: flex;
  align-items: center;
}
.bottom {
  justify-content: space-between;
}
