.button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 9px 20px;
  border: none;
  border-radius: 6px;
  background-color: #6c3eb8;
  &.gray {
    color: #b8b8b8;
    background-color: #576067;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
