.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  text-align: left;
  margin-bottom: 24px;
}
.categories {
  width: 100%;
  padding: 22px 24px 22px 22px;
  text-align: center;
}
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.button {
  text-align: center;
}
