.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  background-color: rgba(33, 33, 35, 0.8);
  justify-content: flex-end;
  color: #f6f6f7;
  pointer-events: none;
}
.form-wrapper {
  background-color: #191919;
  padding: 24px;
  max-width: 320px;
  width: 100%;
  text-align: center;
  pointer-events: all;
}
.close {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
}
.title {
  font-size: 15px;
  margin-bottom: 24px;
  text-transform: capitalize;
}
.input-wrapper {
  display: block;
  & + & {
    margin-top: 16px;
  }
}
.input {
  width: 100%;
}
.button{
    margin-top: 24px;
}