.header {
  margin: 20px 0;
  padding: 0 20px;
  justify-content: space-between;
}

.main {
  max-width: 950px;
  width: 100%;
  justify-content: space-between;
}

.main,
.header,
.user,
.search {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 10px;
  font-size: 9px;
  color: #b8b8b8;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  img{
    width: 100%;
    height: 100%;
  }
}
.user {
  border: none;
  background-color: transparent;
}
.username,
.search input {
  font-size: 9px;
  color: #b8b8b8;
}

.search {
  padding: 7px 10px;
  display: flex;
  align-items: center;
  background-color: #191919;
  border-radius: 6px;
  max-width: 303px;
  width: 100%;
  position: relative;

  img {
    margin-right: 10px;
    display: block;
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 0 5px;
  }
}

.btns {
  display: flex;
  align-items: center;
}

.favorite {
  margin-right: 20px;
}

.favorite,
.cart {
  display: block;
  position: relative;
  .count {
    position: absolute;
    bottom: -2px;
    right: -3px;
    font-size: 9px;
    font-weight: 700;
    color: #f6f6f7;
    padding: 2px 4px 2px;
    background-color: #8b57c6;
    border-radius: 50%;
  }
}

.dropdown{
  background-color: #576067;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  width: 100%;
  padding: 12px 12px 20px;
  z-index: 3;
}

.product{
  display: flex;
  align-items: center;
  padding: 10px 0;
  &+&{
    margin-top: 15px;
    border-top: 1px solid #191919;
  }
}

.product-img{
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.product-name{
  font-size: 12px;
  font-weight: 300;
}