.sidebar {
    padding: 24px;
    max-width: 305px;
    width: 100%;
    min-height: 423px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 32px;
}

.nav {
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.item {
    display: block;

    &+& {
        margin-top: 12px;
    }
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: auto;
    a{
        color: #576067;
        transition: all .3s;
    
        &:hover {
            color: #8B57C6;
        }
    }
}
.terms{
    text-decoration: underline;
}
.navlink{
    color: #576067;
    transition: all .3s;

    &:hover {
        color: #8B57C6;
    } 
    &.active{
        color: #8B57C6;
    }
}