*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1305px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #212123;
  color: white;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #191919;
  border-left: 3px solid #191919;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section,
aside,
footer {
  border-radius: 6px;
  background-color: #191919;
}

button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.exit{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  color: gray;
  border: none;
  background-color: transparent;
}
input {
  background-color: #212123;
  border-radius: 8px;
  padding: 12px 24px;
  width: 300px;
  font-size: 13px;
  color: inherit;
  border: 1px solid transparent;
  transition: all 0.3s;
  outline: none !important;
  &:focus {
    border: 1px solid #6c3eb8;
  }
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}