*,
*::after,
&::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container_width;
  margin: 0 auto;
  padding: 0 15px;
}
