*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1305px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #212123;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

section, aside, footer {
  border-radius: 6px;
  background-color: #191919;
}