.item{
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #212123;
  &+&{
    margin-top: 8px;
  }
}
.start, .item, .count-wrapper{
  display: flex;
  align-items: center;
}
.title{
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}
.img{
  height: 47px;
  border-radius: 6px;
  width: 98px;
  display: block;
  margin-right: 15px;
}
.category{
  color: #B8B8B8;
  font-size: 10px;
  font-weight: 500;
}
.price, .total-price{
  font-size: 20px;
  font-weight: 700;
}
.total-price{
  color: #6C3EB8;
}
.count-wrapper span{
  margin: 0 16px;
}
.count-btn{
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.close{
  border: none;
  background-color: transparent;
}